node_modules
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz
attached_assets
package-lock.json
dnsmasq.conf
vitest.config.ts
logs/

# DotFiles
.env
.idea
.vscode
.cursorrules
.cursorignore
.cursor
.aiignore
*.log

#Ignore vscode AI rules
.github\copilot-instructions.md