node_modules/
dist/
.DS_Store
server/public/
vite.config.ts.*
*.tar.gz
attached_assets/
package-lock.json
dnsmasq.conf
vitest.config.ts
logs/


# Dot Directories
.vscode-test/
.codacy/

# DotFiles & Directories
.env
.idea
.aiignore
*.log
#Ignore cursor AI rules
.cursor/rules/codacy.mdc

#Ignore windsurf AI rules
.windsurfrules
