node_modules
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz
attached_assets
package-lock.json
scripts
Puter-Serverless-Docs
dnsmasq.conf
docs
vitest.config.ts
yaml-docs
docs
docs/tasks.md
# DotFiles
.env
.wrangler
.idea
.vscode
.cursorrules
.cursorignore
.cursor
.windsurf
.windsurfignore
.aiignore